<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load staticfiles %}
	<link href="{% static "admin/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "admin/js/jquery-latest.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-3.3.2-dist/js/bootstrap.min.js" %}"></script>
	<title>Авторизация</title>
</head>
<body>
	<style>
		body {
		  padding-top: 40px;
		  padding-bottom: 40px;
		  background-color: #eee;
		}

		.form-signin {
		  max-width: 330px;
		  padding: 15px;
		  margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
		  margin-bottom: 10px;
		}
		.form-signin .checkbox {
		  font-weight: normal;
		  margin: 20px;
		}
		.form-signin .form-control {
		  position: relative;
		  height: auto;
		  -webkit-box-sizing: border-box;
		     -moz-box-sizing: border-box;
		          box-sizing: border-box;
		  padding: 10px;
		  font-size: 16px;
		}
		.form-signin .form-control:focus {
		  z-index: 2;
		}
		.form-signin input[type="email"] {
		  margin-bottom: -1px;
		  border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
		  margin-bottom: 10px;
		  border-top-left-radius: 0;
		  border-top-right-radius: 0;
		}
		.form-signin a{
			display: inline-block;
			margin-top: 10px;
			margin-left: calc(50% - 55px);
		}
		.errorlist{
		    list-style: none;
		    color: red;
		    padding-left: 0;
		}
	</style>
	{% block content %}
	<div class="container">
		<form method="post" class="form-signin" role="form">
		{% csrf_token %}
        	<h2 class="form-signin-heading">Авторизация</h2>
        	{% if request.user.is_authenticated %}
        	Вы уже <a href="{% if request.user.is_admin %}/admin{% else %}/{% endif %}" style="margin-left: 0;">авторизованы</a>.
        	<br><br>
        	{% endif %}
        	{{ login_form.non_field_errors }}
        	{% for field in login_form %}
        		{{ field }}
        	{% endfor %}
        	<button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Войти</button>
			<input type="hidden" name="next" value="{{next_url}}" >
			<a href="{% url 'password_reset' %}">Забыли пароль?</a>
    	</form>
	</div>
	{% endblock %}
</body>
</html>

