{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

<div id="content-main">
<br>
<p><span style="color: red;">Внимание!</span> Пользователь создается с паролем '1'. Потом пароль нужно изменить.</p>
    <br>
    <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ form_user.non_field_errors }}
      {% for field in form_user %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
          {{ field }} 
          {{ field.errors }}
        </div>
      </div>
      {% endfor %}
      <br>
      <div class="btn-center">
        <button type="submit" class="btn btn-success btn-center-submit">Добавить</button>
        <a href="{% url 'users' %}"><button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button></a>
      </div>
  </form>
</div>
{% endblock %}