<!DOCTYPE html>
<html lang="ru">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/styles.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery.dataTables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-datepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-timepicker.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-slider.css" %}">
    <link href="{% static "admin/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "admin/js/jquery-latest.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "admin/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-3.3.2-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-timepicker.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-slider.js" %}"></script>
    <script src="{% static "admin/js/validator.js" %}"></script>
    <script src="{% static "admin/js/script.js" %}"></script>
    <script src="{% static "admin/js/showdown.min.js" %}"></script>
	<title>{% block title %} {{ title }} | Административный сайт {% endblock %}</title>
	{% block extrastyle %}{% endblock %}
</head>
<body>
	<div class="container">
		<div id="content" class="{% block coltype %}colM{% endblock %}">

			<nav class="navbar navbar-default" role="navigation">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a {% if user.is_admin %}href="{% url 'periods' %}"{% else %}href="/"{% endif %}><b>Quetioning</b></a></li>
					</ul>
					{% if user.is_authenticated %}
					{% if user.is_admin %}
					<ul class="nav navbar-nav">
						<li><a href="{% url 'periods' %}">Периоды</a></li>
						<li><a href="{% url 'users' %}">Сотрудники</a></li>
						<!--<li><a href="{% url 'holidays' %}">Отпуск</a></li>-->
						<li><a href="{% url 'dh' %}"> Новый Отпуск</a></li>
						<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Инструменты <b class="caret"></b></a>
				          <ul class="dropdown-menu">
				            <li><a href="{% url 'export' %}">Экспорт</a></li>
				            <li><a href="{% url 'mark' %}">Оценка</a></li>
				            <li class="divider"></li>
				            <li><a href="{% url 'settings' %}">Настройки</a></li>
				          </ul>
				        </li>
					</ul>
					{% else %}
					<ul class="nav navbar-nav">
						<li><a href="/">Главная</a></li>
						<li><a href="{% url 'user_export' %}">Экспорт</a></li>
						<li><a href="{% url 'user_holiday' %}">Отпуск</a></li>
					</ul>
					{% endif %}
					<ul class="nav navbar-nav navbar-right">
						<li><a><b>Добро пожаловать, {% firstof user.get_short_name user.get_username %}</b></a></li>
						<li><a href="/logout/">Выйти</a></li>
					</ul>
					{% endif %}
				</div>
			</nav>
			{% block breadcrumbs %}
			    <div class="breadcrumbs">
				    <a href="{% if block_url %}{{block_url}}{% else %}{% url 'periods' %}{% endif %}">{% firstof block_title 'Главная' %}</a>
			    	{% if title %} &rsaquo; {{ title }}{% endif %}
		   		</div>
		    {% endblock %}
			{% block content %}
	        {{ content }}
	        {% endblock %}
	    </div>
  	</div>
</body>
</html>