{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

<div id="content-main">
    <h4 style="text-align: center;">{{ title }}</h4>
    <br>
    <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ form_user.non_field_errors }}
      {% for field in form_user %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
          {{ field }} 
          {{ field.errors }}
        </div>
      </div>
      {% endfor %}
      <br>
      <div class="btn-center">
        <button type="submit" class="btn btn-success btn-center-submit">Сохранить</button>
        <a href="{% url 'users' %}"><button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button></a>
      </div>
  </form>
  <br><br>
  <form method="post" class="form-horizontal" role="form">
  {% csrf_token %}
  <div class="col-sm-offset-3">{{ form_password.non_field_errors }}</div><br>
  {% for field in form_password %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-5">
          {{ field }} 
          {{ field.errors }}
        </div>
      </div>
  {% endfor %}
  <br>
    <div class="btn-center">
      <button type="submit" class="btn btn-success btn-center-submit">Изменить пароль</button>
    </div>
  </form>
</div>
{% endblock %}