{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div>
  <form action="{% url 'dh' %}" method="post">
  {% csrf_token %}
  год:
    <select name="year">
    {% for y in years %}
      <option {% if y.year == year %} selected="selected" {% endif %} value="{{ y.year }}">{{ y.year }}</option>
    {% endfor %}
    </select>
    <button type="submit">OK</button>
  </form>
</div>
<div>
  <table class="table table-striped table-bordered table-hover table-condensed">
  <p> Отчетный год {{year}}</p>
    <tr>
      <th>ФИО</th>
      <th>Остаток на начало года, д.</th>
      <th>Такуший отпуск, д.</th>
      <th>Январь, ч.</th>
      <th>Февраль, ч.</th>
      <th>Март, ч.</th>
      <th>Апрель, ч.</th>
      <th>Май, ч.</th>
      <th>Июнь, ч.</th>
      <th>Июль, ч.</th>
      <th>Август, ч.</th>
      <th>Сентябрь, ч.</th>
      <th>Октябрь, ч.</th>
      <th>Ноябрь, ч.</th>
      <th>Декабрь, ч.</th>
      <th>Итого за год, д.</th>
    </tr>

      {% for user_info in users_info %}
      <tr>
      <th>{{user_info.0}}</th>
      <th>{{user_info.1}}</th>
      <th>{{user_info.2}}</th>
      {% for day in user_info.3 %}
      <th>{{day}}</th>
      {% endfor %}
      <th>{{user_info.4}}</th>
      </tr>
      {% endfor %}

  </table>
</div>



{% endblock %}