{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  {% if user.is_admin %}
  <form action="{% url 'zip' %}" method="post" class="form-inline" role="form" style="display: inline-block;">
    {% csrf_token %}
    <b>Период: </b>
    <input type="text" name="date_one" id="date_one" class="form-control datepicker" value="{{begin}}" required>
    <input type="text" name="date_two" id="date_two" class="form-control datepicker" value="{{end}}" required>
    <button type="submit" class="btn btn-success" {% if not users %} disabled {% endif %} title="Скачать ZIP-архив с отчетами о работе в формате XML для всех сотрудников за выбранный период.">Скачать ZIP</button>
  </form>
  <br><br>
  {% endif %}
  <form action="{% url 'export' %}" method="post" class="form-inline" role="form" style="display: inline-block;">
    {% csrf_token %}
    <b>Период: </b>
    <input type="text" name="date1" id="date1" class="form-control datepicker" value="{{begin}}" required>
    <input type="text" name="date2" id="date2" class="form-control datepicker" value="{{end}}" required>
    {% if user.is_admin %}
    <b> Сотрудник: </b>
    <select name="id_user" class="form-control">
      {% for user in users %}
      <option value="{{ user.pk }}" {% if person == user %} selected {% endif %}>{{ user.get_full_name }}</option>
      {% endfor %}
    </select>
    {% endif %}
    <button type="submit" class="btn btn-primary" {% if not users %} disabled {% endif %}>Отчет</button>
  </form>
  <br><br>
  {% if push %}
    <h4 style="text-align: center;">Отчет о работе за {{begin}} - {{end}}, {{person.get_full_name}}</h4>
    {% if not periods %}
      <p>Ни одного периода не найдено.</p>
    {% elif opened %}
      <span style="color: red;">Внимание!</span> Найдены незакрытые периоды:<br>
      {% for period in opened %}
        <li style="margin-left: 15px;"><a {% if user.is_admin %}href="{% url 'report' period.pk %}"{% else %}href="{% url 'my_report' period.pk %}{% endif %}">{{period.begin_date}} - {{ period.end_date }}</a></li>
      {% endfor %}
    <br>
    {% endif %}
    {% if periods %}
      <form {% if user.is_admin %}action="{% url 'xml' begin end person.pk %}"{% else %}action="{% url 'user_xml' begin end person.pk %}"{% endif %} method="post" class="form-horizontal" role="form" style="display: inline-block;">
      {% csrf_token %}
        <button type="submit" class="btn btn-success">Скачать XML</button>
      </form>
      <br><br>
      <table class="period table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Период</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for choice in periods %}
          <tr>
            <td>{{ choice.0.begin_date }} - {{ choice.0.end_date }}</td>
            <td>{% if choice.1 != None %}{{ choice.1 }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
</div>
{% endblock %}