{% extends "admin/base_site.html" %}

{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <form action="{% url 'holidays' %}" method="post" class="form-inline" role="form" style="display: inline-block;">
    {% csrf_token %}
    <b> Год: </b>
    <select name="year" class="form-control">
      {% for y in years %}
          <option {% if y.year == year %} selected="selected" {% endif %} value="{{y.year}}">{{y.year}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" {% if not years %} disabled {% endif %}>OK</button>
  </form>
  <hr>
  {% if not user.is_admin %}
    <h4 style="text-align: center;">Отчет об отпуске за {{year}} год, {{user.get_full_name}}</h4>
  {% endif %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            {% if user.is_admin %}<th>ФИО</th>{% endif %}
            {% if year == cur_date.year and not end_of_year %}<th>Всего</th>{% endif %}
            {% for month in month_array %}
            <th>{{month}}</th>
            {% endfor %}
            <th>{% if year == cur_date.year and not end_of_year %}Остаток{% else %}Сумма{% endif %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in info %}
          {% if user.is_admin or user.get_full_name == item.0 %}
          <tr>
            {% if user.is_admin %}<td>{{ item.0 }}</td>{% endif %}
            {% if year == cur_date.year and not end_of_year %}<td>{{ item.13 }}</td>{% endif %}
            <td {% if year == cur_date.year and cur_date.month == 1 and item.15 > 0 %} style="background-color: #efc9c9;" {% endif %}>{% if item.1 != None %}{{ item.1 }}{% endif %}</td>
            <td {% if year == cur_date.year and cur_date.month <= 2 and item.15 > 0 %} style="background-color: #efc9c9;" {% endif %}>{% if item.2 != None %}{{ item.2 }}{% endif %}</td>
            <td {% if year == cur_date.year and cur_date.month <= 3 and item.15 > 0 %} style="background-color: #efc9c9;" {% endif %}>{% if item.3 != None %}{{ item.3 }}{% endif %}</td>
            <td>{% if item.4 != None %}{{ item.4 }}{% endif %}</td>
            <td>{% if item.5 != None %}{{ item.5 }}{% endif %}</td>
            <td>{% if item.6 != None %}{{ item.6 }}{% endif %}</td>
            <td>{% if item.7 != None %}{{ item.7 }}{% endif %}</td>
            <td>{% if item.8 != None %}{{ item.8 }}{% endif %}</td>
            <td>{% if item.9 != None %}{{ item.9 }}{% endif %}</td>
            <td>{% if item.10 != None %}{{ item.10 }}{% endif %}</td>
            <td>{% if item.11 != None %}{{ item.11 }}{% endif %}</td>
            <td>{% if item.12 != None %}{{ item.12 }}{% endif %}</td>
            <td>{{ item.14 }}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}