{% extends "admin/base_site.html" %}

{% load i18n admin_static %}
{% block extrastyle %}
<link href="{% static "admin/css/morris.css" %}" rel="stylesheet" type="text/css">
<script src="{% static "admin/js/morris.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <form action="{% url 'mark' %}" method="post" class="form-inline" role="form" style="display: inline-block;">
    {% csrf_token %}
    <b>Период: </b>
    <input type="text" name="date1" id="date1" class="form-control datepicker" value="{{begin}}" required>
    <input type="text" name="date2" id="date2" class="form-control datepicker" value="{{end}}" required>
    <b> Сотрудник: </b>
    <select name="id_user" class="form-control">
      <option value="all">Все</option>
      {% for user in users %}
      <option value="{{ user.pk }}" {% if person == user %} selected {% endif %}>{{ user.get_full_name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" {% if not users %} disabled {% endif %}>Отчет</button>
  </form>
  <br><br>
  {% if push %}
    <h4 style="text-align: center;">Отчет об оценке удовольствия за {{begin}} - {{end}}{% if person %}, {{person.get_full_name}}{% endif %}</h4>
    {% if not periods %}
      <p>Ни одного периода не найдено.</p>
    {% elif opened %}
      <span style="color: red;">Внимание!</span> Найдены незакрытые периоды:<br>
      {% for period in opened %}
        <li style="margin-left: 15px;"><a href="admin/report/{{ period.pk }}">{{period.begin_date}} - {{ period.end_date }}</a></li>
      {% endfor %}
    <br>
    {% endif %}
    {% if periods %}
    <div id="myfirstchart" style="height: 250px;"></div>
    <script>
      var a = {{mas|safe}};
      console.log(a);
      new Morris.Area({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: a,
        // The name of the data record attribute that contains x-values.
        xkey: 'begin_date',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['mark'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Оценка'],
        xLabelFormat: function(year) {
          if (year.getMonth()+1 < 10) return '0'+(year.getMonth()+1)+'.'+year.getFullYear();
          else return (year.getMonth()+1)+'.'+year.getFullYear(); 
        },
        xLabels:'month',
        dateFormat: function(begin_date) {
          return ''; 
        },
        ymax: 10,
        ymin: 0,
        fillOpacity: 0.7,
        lineColors: ['#337ab7'],
        resize: true,
        hoverCallback: function (index, options, tooltip, data) {
          begin_date = ''
          end_date = ''
          begin = new Date(data['begin_date'])
          end = new Date(data['end_date'])
          if (begin.getDate() < 10) begin_date = '0';
          begin_date += begin.getDate()+'.';
          if (begin.getMonth()+1 < 10) begin_date += '0';
          begin_date += (begin.getMonth()+1)+'.'+begin.getFullYear();
          if (end.getDate() < 10) end_date = '0';
          end_date += end.getDate()+'.';
          if (end.getMonth()+1 < 10) end_date += '0';
          end_date += (end.getMonth()+1)+'.'+end.getFullYear();
          return '<b>' + begin_date + ' - ' + end_date + '</b>' + tooltip;
        }
      });
    </script>
    {% endif %}
  {% endif %}
</div>
{% endblock %}