{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

<div id="content-main">
<h4 style="text-align: center;">Отчет за {% if month < 10 %}0{% endif %}{{month}}.{{year}}</h4>
{% if not periods %}<p>Ни одного периода в данном месяце не найдено.</p>
{% elif opened %}
  <span style="color: red;">Внимание!</span> Найдены незакрытые периоды:<br>
  {% for period in opened %}
    <li style="margin-left: 15px;"><a href="admin/report/{{ period.pk }}">{{period.begin_date}} - {{ period.end_date }}</a></li>
  {% endfor %}
  <br>
{% endif %}
{% if periods %}
    <form action="{% url 'send_monthreport' year month %}" method="post" class="form-horizontal" role="form" style="display: inline-block;">
      {% csrf_token %}
     <button type="submit" class="btn btn-success">Отправить на email</button>
    </form>
    <br><br>
    <table class="info table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Сотрудник</th>
          <th>Работал, ч</th>
          <th>Болел, ч</th>
          <th>Отпуск, ч</th>
        </tr>
      </thead>
      <tbody>
        {% for choice in info %}
        <tr>
          <td>{{ choice.0 }}</td>
          <td>{{ choice.1 }}</td>
          <td>{{ choice.2 }}</td>
          <td>{{ choice.3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
</div>
{% endblock %}