{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <div class="row">
    <form action="{% url 'add_period' %}" method="post" class="form-horizontal" role="form" style="display: inline-block; float: left; margin-left: 15px;">
      {% csrf_token %}
      <button class="btn btn-success" type="submit">Открыть новый период</button>
    </form>
    <form action="{% url 'month_report' %}" method="post" class="form-inline" role="form">
      {% csrf_token %}
      <div class="col-xs-1" style="padding-right: 0px; padding-left: 0px; margin-left: 15px;">
        <select class="form-control" name="month" style="padding-left: 5px;">
        {% for month in month_array %}
          <option {% if forloop.counter == cur_date.month %} selected="selected" {% endif %} value="{{forloop.counter}}">{{month}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="col-xs-1">
        <select class="form-control" name="year" style="padding-left: 5px;">
          {% for year in years %}
          <option {% if year.year == cur_date.year %} selected="selected" {% endif %} value="{{year.year}}">{{year.year}}</option>
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-primary" type="submit" {% if not years %} disabled {% endif %}>Отчет</button>
    </form>
  </div>
  <br>
  <table class="period table table-striped table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
	      <th>Период</th>
        <th>Оценка</th>
	      <th>Не заполнило</th>
        <th>Закрыт</th>
        <th>Отчет</th>
        <th>Действия</th>
	    </tr>
	  </thead>
    <tbody>
      {% for choice in info %}
      <tr>
        <td><a href="{% url 'report' choice.0.pk %}">{{ choice.0.begin_date }} - {{ choice.0.end_date }}</a></td>
        <td>{% if choice.1 %}{{ choice.1}}{% endif %}
        </td>
        <td>
          <!--script>
            document.write({{ be_out }}[{{forloop.counter0}}]);
          </script-->
          {{ choice.2}}
        </td>
        <td>
          <div class="checkbox" style="margin: 0;">
            <label>
              <input type="checkbox" disabled value="" {% if choice.0.is_close %} checked {% endif %}>
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox" style="margin: 0;">
            <label>
              <input type="checkbox" disabled value="" {% if choice.0.reported %} checked {% endif %}>
            </label>
          </div>
        </td>
        <td>
          <form action="{% url 'close_period' choice.0.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
            {% csrf_token %}
           <button type="submit" class="btn btn-primary btn-xs" title="{% if choice.0.is_close %} Открыть период {% else %} Закрыть период {% endif %}"><span class="glyphicon {% if choice.0.is_close %} glyphicon-repeat {% else %} glyphicon-remove {% endif %}"></button>
          </form>
          <form action="{% url 'change_period' choice.0.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-xs" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></button>
          </form>
          <form action="{% url 'delete_period' choice.0.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-xs" title="Удалить" onclick="return confirm('Вы действительно хотите удалить период и все связанные с ним отчеты?')"><span class="glyphicon glyphicon-trash"></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}