{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content %}

<div id="content-main">
    <br>
    {% if not period.is_close %}
    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#add_user" {% if not add_users %} disabled {% endif %}>Добавить сотрудника</button> 
    <form action="{% url 'send_notices' period.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block;">
      {% csrf_token %}
     <button type="submit" class="btn btn-primary" {% if not reports %} disabled {% endif %}>Известить не заполнивших</button>
    </form>
    <br><br>
    {% endif %}
    <table class="info table table-striped table-bordered table-hover table-condensed">
      <caption><b>Период:</b> {{ period.begin_date }} - {{ period.end_date }}</caption>
          <thead>
            <tr>
              <th>Сотрудник</th>
              <th>Работал, ч</th>
              <th>Болел, ч</th>
              <th>Отпуск, ч</th>
              <th>Что сделал</th>
              <th>Оценка</th>
              <th>Последнее извещение</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
          	{% for choice in reports %}
            <tr>
            <td>{{ choice.user.get_full_name }}</td>
              <td>{% if choice.work != None %} {{ choice.work }} {% endif %}</td>
              <td>{% if choice.ill != None %} {{ choice.ill }} {% endif %}</td>
              <td>{% if choice.holiday != None %} {{ choice.holiday }} {% endif %}</td>
              <td>{% if choice.do != None %} {{ choice.do }} {% endif %}</td>
              <td>{% if choice.mark != None %} {{ choice.mark }} {% endif %}</td>
              <td>{% if choice.last_notice %} {{ choice.last_notice }} {% endif %}</td>
              <td>
                <form action="{% url 'send_notice' choice.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
                  {% csrf_token %}
                 <button type="submit" class="btn btn-primary btn-xs" title="Известить" {% if not choice.user.send_email and not choice.user.send_sms %} disabled {% endif %}><span class="glyphicon glyphicon-envelope"></button>
                </form>
                <form action="{% url 'change_rep' choice.pk %}" method="get" class="form-horizontal" role="form" style="display: inline-block; text-align: right; margin-bottom: 5px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning btn-xs" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></button>
                </form>
                <form action="{% url 'delete_rep' choice.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; text-align: right; margin-bottom: 5px;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-xs" title="Удалить" onclick="return confirm('Вы действительно хотите удалить этот отчет?')"><span class="glyphicon glyphicon-trash"></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>

    <!-- Modal -->
    <div id="add_user" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Выберите сотрудника</h4>
          </div>
          <form action="{% url 'plus_user' period.pk %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="modal-body">
            Выбранный сотрудник будет добавлен в текущий отчет.
            <br>
              <select name="id_user" class="form-control">
                {% for user in add_users %}
                <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Добавить</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}