{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
  <form method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {% for field in form_setting %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
          <div class="col-sm-5">
            {{ field }} 
            {{ field.errors }}
          </div>
        </div>
    {% endfor %}
    <div class="btn-center">
      <button type="submit" class="btn btn-success btn-center-submit">Сохранить</button>
      <a href="{% url 'periods' %}"><button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button></a>
    </div>
  </form>
</div>
{% endblock %}