{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <form action="{% url 'add_user' %}" method="post" class="form-horizontal" role="form" style="display: inline-block;">
      {% csrf_token %}
     <button type="submit" class="btn btn-success" title="Добавить сотрудника">Добавить сотрудника</button>
  </form>
  <br><br>
  <table class="sotr table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>Оценка</th>
        <th>Телефон</th>
        <th>E-mail</th>
        <th>Активен</th>
        <th>Админ</th>
        <th style="width: 50px;">Действия</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.0.get_full_name }}</td>
        <td>{% if user.1 != None %}{{user.1}}{% endif %}</td>
        <td>{% if user.0.phone_number %} {{ user.0.phone_number }} {% endif %}</td>
        <td>{{ user.0.email }}</td>
        <td>
          <div class="checkbox" style="margin: 0;">
            <label>
              <input type="checkbox" disabled value="" {% if user.0.is_active %} checked {% endif %}>
            </label>
          </div>
        </td>
        <td>
          <div class="checkbox" style="margin: 0;">
            <label>
              <input type="checkbox" disabled value="" {% if user.0.is_admin %} checked {% endif %}>
            </label>
          </div>
        </td>
        <td>
          <form action="{% url 'change_user' user.0.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
            {% csrf_token %}
           <button type="submit" class="btn btn-warning btn-xs" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></button>
          </form>
          <form action="{% url 'delete_user' user.0.pk %}" method="post" class="form-horizontal" role="form" style="display: inline-block; margin-bottom: 5px;">
            {% csrf_token %}
           <button type="submit" class="btn btn-danger btn-xs" title="Удалить" onclick="return confirm('Вы действительно хотите удалить сотрудника и все связанные с ним отчеты?')"><span class="glyphicon glyphicon-trash"></button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}