.errorlist{
    list-style: none;
    color: red;
    padding-left: 0;
    margin-bottom: 0;
}

.btn-center{
	display: flex;
	justify-content: center;
}

.btn-center-submit{
	margin-right: 5px;
}

body{
	padding-bottom: 50px;
}

.table caption{
	color: black;
}

#notice_norm .slider-handle{
	background: #337ab7;
}

#notice_norm .slider-selection, #notice_norm .slider-track-high{
	background: rgba(137, 178, 213, 0.5);
}