<!DOCTYPE html>
<html lang="ru">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/styles.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/jquery.dataTables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/bootstrap-datepicker.css" %}">
    <link href="{% static "admin/js/bootstrap-3.3.2-dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <script src="{% static "admin/js/jquery-latest.js" %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static "admin/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-3.3.2-dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "admin/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "admin/js/validator.js" %}"></script>
    <script src="{% static "admin/js/script.js" %}"></script>
     <script src="{% static "admin/js/showdown.min.js" %}"></script>
	<title>{% block title %} {{ title }} | Отчеты {% endblock %}</title>
	{% block extrastyle %}{% endblock %}
</head>
<body>
	<div class="container">
		<div id="content" class="{% block coltype %}colM{% endblock %}">
	        
			<nav class="navbar navbar-default" role="navigation">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="/"><b>Quetioning</b></a></li>
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav">
						<li><a href="/">Главная</a></li>
						<li><a href="{% url 'user_export' %}">Экспорт</a></li>
						<li><a href="{% url 'user_holiday' %}">Отпуск</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a><b>Добро пожаловать, {{user.email}}</b></a></li>
						<li><a href="" data-toggle="modal" data-target="#change_upass">Изменить пароль</a></li>
						<li><a href="/logout/">Выйти</a></li>
					</ul>
					{% endif %}
				    <!-- Modal -->
				    <div id="change_upass" class="modal fade" role="dialog">
				      <div class="modal-dialog">

				        <!-- Modal content-->
				        <div class="modal-content">
				          <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal">&times;</button>
				            <h4 class="modal-title">Изменить пароль</h4>
				          </div>
				          <form method="post" class="form-horizontal" role="form">
				            {% csrf_token %}
				            <div class="modal-body">
				              {% csrf_token %}
							  {{ form_password.non_field_errors }}
							  {% for field in form_password %}
							      <div class="form-group">
							        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
							        <div class="col-sm-5">
							          {{ field }} 
							          {{ field.errors }}
							        </div>
							      </div>
							  {% endfor %}
				            </div>
				            <div class="modal-footer">
				              <button type="submit" class="btn btn-success">Изменить</button>
				              <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				            </div>
				          </form>
				        </div>
				      </div>
				    </div>
				</div>
			</nav>
			{% block breadcrumbs %}
			    <div class="breadcrumbs">
				    <a href="/">Главная</a>
			    	{% if title %} &rsaquo; {{ title }} {% endif %}
		   		</div>
		   		<br>
		    {% endblock %}
			{% block content %}
	        {{ content }}
	        {% endblock %}
	    </div>
  	</div>
</body>
</html>