{% extends "user/base.html" %}
{% block breadcrumbs %} {% endblock %}
{% block content %}
<div id="content-main">
	<table class="main table table-striped table-bordered table-hover table-condensed">
	      <thead>
	        <tr>
	          <th>Период</th>
	          <th>Работал</th>
	          <th>Болел</th>
	          <th>Отпуск</th>
	          <th>Что сделал</th>
	          <th>Оценка</th>
	          <th>Последнее извещение</th>
	        </tr>
	      </thead>
	      <tbody>
	      	{% for choice in reports %}
	        <tr>
	        <td>{% if not choice.period.is_close %}<a href="/my_report/{{ choice.period.pk }}">{{ choice.period.begin_date }} - {{ choice.period.end_date }}</a>{% else %}{{ choice.period.begin_date }} - {{ choice.period.end_date }}{% endif %}</td>
	          <td>{% if choice.work != None %} {{ choice.work }} {% endif %}</td>
	          <td>{% if choice.ill != None %} {{ choice.ill }} {% endif %}</td>
	          <td>{% if choice.holiday != None %} {{ choice.holiday }} {% endif %}</td>
	          <td>{% if choice.do %} {{ choice.do }} {% endif %}</td>
	          <td>{% if choice.mark %} {{ choice.mark }} {% endif %}</td>
	          <td>{% if choice.last_notice %} {{ choice.last_notice }} {% endif %}</td>
	        </tr>
	        {% endfor %}
	      </tbody>
	</table>
</div>
{% endblock %}