{% extends "user/base.html" %}

{% block content %}

<div id="content-main">
  {% if period.is_close %}
  <p>Этот период уже закрыт. Вы не можете редактировать данные.</p>
  <a href="{% url 'Quetioning.views.main' %}">Перейти на главную.</a>
  {% else %}
  <form method="post" class="form-horizontal" role="form">
      {% csrf_token %}
      {{ report_form.non_field_errors }}
      <div class="form-group">
        <label class="col-sm-4 control-label">Период</label>
        <div class="col-sm-5">
          <p class="form-control-static">{{period.begin_date}} - {{period.end_date}}</p>
        </div>
      </div>
      {% for field in report_form %}
      <div class="form-group">
        <div class="raw" {% if field.id_for_label == 'id_do_html' %}style="display: none;"{% endif %}>
          <div class="col-sm-9">
            <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
              <div class="col-sm-8">
                {{ field }} 
                {{ field.errors }}
              </div>
              {% if field.id_for_label == 'id_do' %}<br><div><img src="/static/admin/img/markdown_example.png" align="right" style="border: 1px solid #164D0B; border-radius: 20px; margin-top: 20px;" /></div>{% endif %}
          </div>
          <div class="col-sm-3">
        {% if field.id_for_label == 'id_do' %}<div id="result" style="display: block; margin-top: 10px; padding-left: 0; padding-right: 0;">{% if report.do_html != None %}{{ report.do_html|safe }}{% endif %}</div>{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

      <script>
        var input = document.getElementById('id_do');
        var input_html = document.getElementById('id_do_html');
        var result = document.getElementById('result');
        var converter = new showdown.Converter();
        result.innerHTML = converter.makeHtml(input.value);
        input_html.value = converter.makeHtml(input.value);
        input.oninput = function() {
          result.innerHTML = converter.makeHtml(input.value); 
        };
        document.getElementById('save').onclick = function() {
          input_html.value = converter.makeHtml(input.value);
        }
      </script>

      <br>
      <div class="col-md-offset-5">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="/"><button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button></a>
      </div>
  </form>
  {% endif %}
</div>
{% endblock %}